<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Query Form</title>
    </head>
    <body>
        <button onclick="window.location.href='{{ url_for("query_one_form") }}'">
        Query 1: Cost of Commodities
        </button>
        <button onclick="window.location.href='{{ url_for('query_two_form') }}'">
        Query 2: Meat vs. Veggies
        </button>
        <button onclick="window.location.href='{{ url_for('query_three_form') }}'">
        Query 3: Regional Production
        </button>
        <button onclick="window.location.href='{{ url_for('query_four_form') }}'">
        Query 4: Land Productivity
        </button>
        <button onclick="window.location.href='{{ url_for('query_five_form') }}'">
        Query 5: Woman vs. Wild
        </button>
        <form action="{{ url_for("welcome") }}" method="post">
            <input type="submit" value="Count Tuples">
        </form>
        {% if value != 0 %}
            <p>{{ value }}</p>
        {% endif %}
    </body>
</html>