<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Query Form</title>
    </head>
    <body>
        <!-- <form action="american-plate/pro_landing.html">
            <div>
                <input list="queries" name="query">
                <datalist id="queries">
                    <option value = "Query 1: Cost of Commodities">
                    <option value = "Query 2: Meat vs. Veggies">
                    <option value = "Query 3: Regional Production">
                    <option value = "Query 4: Land Productivity">
                    <option value = "Query 5: ">
                </datalist>
                <input type="submit">
            </div>
        </form> -->
        <button onclick="window.location.href='{{ url_for("query_one_form") }}'">
        Query 1: Cost of Commodities
        </button>
        <button onclick="window.location.href='query2landing.html'">
        Query 2: Meat vs. Veggies
        </button>
        <button onclick="window.location.href='query3landing.html'">
        Query 3: Regional Production
        </button>
        <button onclick="window.location.href='query4landing.html'">
        Query 4: Land Productivity
        </button>
        <button onclick="window.location.href='query5landing.html'">
        Query 5:
        </button>
        <form action="{{ url_for("welcome") }}" method="post">
            <input type="submit" value="Count Tuples">
        </form>
        {% if value != 0 %}
            <p>{{ value }}</p>
        {% endif %}
    </body>
</html>