<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Query 1 Results</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    </head>
<body>
    <div id="results"></div>
    <a href="{{ url_for("welcome") }}">Back to Queries</a>
    <a href="{{ url_for('query_one_form') }}">Query Again</a>
    {% for item in data %}
        <p>{{ data[item] }}</p>
    {% endfor %}
    <script>
        const resultsList = document.getElementById('results')
        new URLSearchParams(window.location.search).forEach((value, name) => {
            resultsList.append(`${name}: ${value}`)
            resultsList.append(document.createElement('br'))
        })
    </script>
    </script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"
    crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"
    crossorigin="anonymous"></script>
    {{ bokehDiv|safe }}
    {{ bokehScript|safe }}
</body>
</html>