<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Query Form</title>
    </head>
    <body>
        <form action="{{ url_for('query_one_form') }}" method="post">
            <div>
                <!-- <input list="queries" name=> -->
                <select name="Commodity" id="queries">
                    {% for name in data %}
                        <option value = "{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </div>
        </form>
    </body>
</html>