<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Query 3 Results</title>
    </head>
<body>
    <div id="results"></div>
    <a href="{{ url_for("pro") }}">Back to Queries</a>
    <script>
        const resultsList = document.getElementById('results')
        new URLSearchParams(window.location.search).forEach((value, name) => {
            resultsList.append(`${name}: ${value}`)
            resultsList.append(document.createElement('br'))
        })
    </script>
   <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"
    crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"
    crossorigin="anonymous"></script>
    {{ bokehDiv|safe }}
    {{ bokehScript|safe }}
</body>
</html>