<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Query 1 Results</title>
    </head>
<body>
    <div id="results"></div>
    <a href="{{ url_for("pro") }}">Back to Queries</a>
    <script>
        const resultsList = document.getElementById('results')
        new URLSearchParams(window.location.search).forEach((value, name) => {
            resultsList.append(`${name}: ${value}`)
            resultsList.append(document.createElement('br'))
        })

        // const data = {{ data|tojson|safe }}

        // const name = data[0]['NAME']
        // let year= []
        // let farm_income = []
        // for (let i = 0; i < data.length; i++) {
        //     year.push(data[i]['YEAR'])
        //     farm_income.push(data[i]["FARM_INCOME"])
        // }
        // // Adding Bokeh code here
        
        // console.log(name)
    </script>
</body>
</html>